#build --extra_toolchains=//toolchain:cc_toolchain_for_linux_x86_64

# Address sanitizing
build:asan --extra_toolchains=//toolchain:cc_toolchain_for_linux_x86_64
build:asan --features=asan
build:asan --test_env=ASAN_SYMBOLIZER_PATH=/home/rojkov/tools/clang-18.1.8-x86_64-linuxx-gnu/bin/llvm-symbolizer

# Thread sanitizing
build:tsan --extra_toolchains=//toolchain:cc_toolchain_for_linux_x86_64
build:tsan --features=tsan
build:tsan --test_env=ASAN_SYMBOLIZER_PATH=/home/rojkov/tools/clang-18.1.8-x86_64-linuxx-gnu/bin/llvm-symbolizer
